.my-tasks-container {
  padding: var(--spacing-lg);
  background-color: var(--main-background-color);
  min-height: 100vh;
}

.my-tasks-stats {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-tasks-content {
  margin-top: var(--spacing-md);
}

.my-tasks-table-container {
  margin-top: var(--spacing-md);
}