.pending-purchase-orders-container{
  padding: 8px;
}
.partial-purchase-orders-container{
  padding: 8px;
}
.disputed-purchase-orders-container{
  padding: 8px;
}
.completed-purchase-orders-container{
  padding: 8px;
}
